@import "../../node_modules/semantic-ui-css/semantic.min.css";
@import '../assets/styles/scss/variables';
@import "../assets/styles/scss/reset";
@import "../assets/icons/styles.css";


@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Regular.ttf),
  url(../assets/fonts/Raleway-Medium.ttf),
  url(../assets/fonts/Raleway-SemiBold.ttf),
  url(../assets/fonts/Raleway-Bold.ttf);
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .app {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: $grid-areas;
  }
}